n8n-chatbot-workflow.json
{
  "name": "Chatbot Portfolio Wilson",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-start",
      "name": "Webhook Chatbot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [140, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Procesar el mensaje del usuario y preparar contexto\nconst webhookData = $input.all()[0].json;\nconsole.log('Webhook data received:', webhookData);\n\n// Los datos del frontend llegan en el campo 'body'\nconst requestData = webhookData.body || webhookData;\nconsole.log('Request data:', requestData);\n\n// Verificar que el mensaje existe\nif (!requestData || !requestData.message) {\n  throw new Error('No se recibi贸 mensaje del usuario');\n}\n\nconst userMessage = requestData.message || '';\nconst userId = requestData.userId || 'anonymous';\nconst messageHistory = requestData.history || [];\n\nconsole.log('User message:', userMessage);\nconsole.log('User ID:', userId);\n\n// Contexto sobre Wilson (datos de tu portafolio)\nconst wilsonContext = `\nSoy Wilson Del Canto, un desarrollador fullstack especializado en:\n\n TECNOLOGAS:\n- Frontend: React, Next.js, Astro, TypeScript, Tailwind CSS\n- Backend: Node.js, Express, Strapi CMS, MongoDB\n- M贸vil: React Native\n- Bases de datos: MongoDB, PostgreSQL\n- DevOps: Docker, Git, AWS\n\n EXPERIENCIA:\n- Desarrollo de aplicaciones web modernas y responsivas\n- Integraci贸n de APIs y servicios terceros\n- Arquitectura de aplicaciones escalables\n- Automatizaci贸n con N8N\n\n PROYECTOS DESTACADOS:\n- Portafolio personal con Astro y Tailwind\n- Aplicaciones React Native multiplataforma\n- Sistemas backend con Strapi CMS\n- Integraciones con servicios de terceros\n\n CONTACTO:\n- Email: wdelcanto@gmail.com\n- GitHub: github.com/wdelcant\n- LinkedIn: linkedin.com/in/wilson-del-canto\n\nEstoy disponible para proyectos freelance y oportunidades laborales.\n`;\n\n// Determinar tipo de consulta (con verificaci贸n de seguridad)\nlet queryType = 'general';\nconst messageLower = userMessage.toLowerCase();\n\nif (messageLower.includes('experiencia') || messageLower.includes('trabajo')) {\n  queryType = 'experience';\n} else if (messageLower.includes('tecnolog') || messageLower.includes('skill') || messageLower.includes('habilidad')) {\n  queryType = 'skills';\n} else if (messageLower.includes('proyecto')) {\n  queryType = 'projects';\n} else if (messageLower.includes('contacto') || messageLower.includes('email') || messageLower.includes('contratar')) {\n  queryType = 'contact';\n}\n\nconsole.log('Query type determined:', queryType);\n\n// Preparar prompt para OpenAI\nconst systemPrompt = `Eres el asistente personal de Wilson Del Canto. Responde de manera amigable, profesional y concisa. \nUsa la informaci贸n proporcionada para responder preguntas sobre Wilson.\nSi no tienes informaci贸n espec铆fica, dir铆gelos a contactarlo directamente.\nMant茅n las respuestas en espa帽ol y usa emojis cuando sea apropiado.\n\nContexto sobre Wilson:\n${wilsonContext}`;\n\nconst userPrompt = `Consulta del usuario: ${userMessage}\nTipo de consulta: ${queryType}`;\n\nreturn {\n  json: {\n    systemPrompt,\n    userPrompt,\n    originalMessage: userMessage,\n    userId,\n    queryType,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "process-message",
      "name": "Procesar Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [360, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{ $json.systemPrompt }}"
            },
            {
              "role": "user",
              "content": "={{ $json.userPrompt }}"
            }
          ]
        },
        "maxTokens": 150,
        "temperature": 0.7,
        "topP": 1,
        "presencePenalty": 0,
        "frequencyPenalty": 0
      },
      "id": "openai-response",
      "name": "OpenAI Chat",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [580, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI Credentials"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Formatear la respuesta de OpenAI\nconst allInputs = $input.all();\nconst openAiResponse = allInputs[0].json;\nconst originalData = allInputs.length > 1 ? allInputs[1].json : null;\n\nconsole.log('OpenAI response:', JSON.stringify(openAiResponse, null, 2));\nconsole.log('Original data:', JSON.stringify(originalData, null, 2));\nconsole.log('Number of inputs:', allInputs.length);\n\n// Extraer texto de respuesta con verificaci贸n de seguridad\nlet responseText = '';\n\n// Verificar si openAiResponse es un array (como en tu caso)\nif (Array.isArray(openAiResponse) && openAiResponse.length > 0) {\n  const firstChoice = openAiResponse[0];\n  if (firstChoice && firstChoice.message && firstChoice.message.content) {\n    responseText = firstChoice.message.content.trim();\n    console.log('Respuesta extra铆da del array:', responseText);\n  }\n} \n// Verificar estructura tradicional de OpenAI\nelse if (openAiResponse && openAiResponse.choices && openAiResponse.choices.length > 0) {\n  const firstChoice = openAiResponse.choices[0];\n  if (firstChoice && firstChoice.message && firstChoice.message.content) {\n    responseText = firstChoice.message.content.trim();\n    console.log('Respuesta extra铆da de choices:', responseText);\n  }\n}\n\n// Si no se pudo extraer la respuesta\nif (!responseText) {\n  console.log('No se pudo obtener respuesta de OpenAI. Estructura recibida:', openAiResponse);\n  responseText = 'Lo siento, no pude procesar tu consulta en este momento. 驴Podr铆as contactarme directamente a wdelcanto@gmail.com?';\n}\n\n// Obtener datos originales del nodo anterior\n// Si no hay segundo input, buscar en el contexto del workflow\nlet userId = 'unknown';\nlet originalMessage = 'mensaje no disponible';\nlet queryType = 'general';\n\nif (originalData) {\n  userId = originalData.userId || 'unknown';\n  originalMessage = originalData.originalMessage || 'mensaje no disponible';\n  queryType = originalData.queryType || 'general';\n  console.log('Datos originales encontrados:', { userId, originalMessage, queryType });\n} else {\n  console.log('No se encontraron datos originales en segundo input');\n}\n\n// Agregar call-to-action seg煤n el tipo de consulta\nif (queryType === 'contact') {\n  responseText += '\\n\\n Email: wdelcanto@gmail.com\\n LinkedIn: linkedin.com/in/wilson-del-canto';\n} else if (queryType === 'projects') {\n  responseText += '\\n\\n Puedes ver m谩s proyectos en mi GitHub o contactarme para detalles espec铆ficos.';\n}\n\nconst result = {\n  response: responseText,\n  userId: userId,\n  originalMessage: originalMessage,\n  queryType: queryType,\n  timestamp: new Date().toISOString(),\n  processed: true\n};\n\nconsole.log('Resultado final:', JSON.stringify(result, null, 2));\n\nreturn {\n  json: result\n};"
      },
      "id": "format-response",
      "name": "Formatear Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "ChatLogs",
        "columns": {
          "mappingMode": "defineInNode",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "UserID": "={{ $json.userId }}",
            "Message": "={{ $json.originalMessage }}",
            "Response": "={{ $json.response }}",
            "QueryType": "={{ $json.queryType }}"
          }
        },
        "options": {}
      },
      "id": "log-conversation",
      "name": "Guardar Conversaci贸n",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [800, 480],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credentials",
          "name": "Google Sheets Credentials"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "webhook-response",
      "name": "Respuesta Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1020, 300]
    }
  ],
  "connections": {
    "Webhook Chatbot": {
      "main": [
        [
          {
            "node": "Procesar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Formatear Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Mensaje": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          },
          {
            "node": "Formatear Respuesta",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Formatear Respuesta": {
      "main": [
        [
          {
            "node": "Respuesta Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Guardar Conversaci贸n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "chatbot",
      "id": "chatbot-tag"
    },
    {
      "name": "portfolio",
      "id": "portfolio-tag"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-19T00:00:00.000Z",
  "versionId": "1"
}
